.app_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #F5F5F5;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    .logo{
        padding-left: 45px;
    }
    // .menu{
        .menu-icon{
            width: 36px;
            height: 36px;
            margin-right: 30px;
        // }
    }
}

